<div class="puzzle-container">
<!--   {{#if isEditing}}
    <a href="#" {{action 'edit'}}>Done</a>
    <h3>{{input type="text" class="name" value=puzzle.name}}</h3>
    <div>
      <select id="colorToPlay">
        {{#if whiteToPlay}}
          <option value="w" selected>White to play</option>
          <option value="b">Black to play</option>
        {{else}}
          <option value="w">White to play</option>
          <option value="b" selected>Black to play</option>
        {{/if}}
      </select>
    </div>
  {{else}}
    <a href="#" {{action 'edit'}}>{{fa-icon "cog"}}</a>
  {{/if}} -->

  <h3>{{puzzle.name}}</h3>
  {{view 'puzzle-board' ground=board fen=puzzle.position gameFen=puzzle.gameFen roomController=roomController isEditing=isEditing}}
</div>
