<div class="board-outter-container outter-container">
  <div class="board-inner-container">
    {{canvas-diagram}}
    {{chess-board action='sendPosition' board=controller.boardObject game=controller.gameObject}}
    <div>
      <strong>FEN</strong>
      <input readonly="true" class="fen">
    </div>
  </div>
  <div class="other-outter-container outter-container">
    <a href="#" class="board-button" {{action 'start'}}>Restart Game</a>
    {{#if diagramMode}}
      <a href="#" class="board-button" {{action 'canvas'}}>Turn off diagram mode</a>
      <a href="#" class="board-button" {{action 'clearCanvas'}}>Clear diagram</a>
    {{else}}
      <a href="#" class="board-button" {{action 'canvas'}}>Turn on diagram mode</a>
    {{/if}}
    <div class="pgn">

    </div>
    <p>
      <label>Score:</label>
      <span id="score" class="engine-data"></span>
    </p>
    <p>
      <label>Best move: </label>
      <span id="bestmove" class="engine-data"></span>
    </p>
    <p>
      <label>Variation: </label>
      <span id="variation" class="engine-data"></span>
    </p>
    <p>
      <label>Depth: </label>
      <span id="depth" class="engine-data"></span>
    </p>
  </div>
</div>
