<div class="section">
  <header class='homepage-header-container inner-section'>
    <h1 class='homepage-header'>Improving your chess has never been easier</h1>
    <div class="features">
      <h2>All of this in one screen, over the internet, in your browser:</h2>
      <ul class='features-container' id="features">
        {{homepage-feature className="coach" header="Connect with any coach" message="You now have access to every chess coach in the world. By simply sharing a link, you are connected with whoever you want via video chat in your browser." active=true }}
        {{homepage-feature className="analysis" header="Best computer analysis" message="Enjoy the best chess player in the world in the top right of your screen. You have StockFish (the computer chess champion) giving you analysis on the score of the position, the best move, and its suggested continuation for whatever position is currently on the board."}}
        {{homepage-feature className="drawing-tools" header="Advanced drawing tools" message="A lot goes on in the mind of a chess player, so much so that sometimes it gets difficult to convey all that's going on to someone else. You can use drawing tools to draw on the board however you please to visualize your thoughts and make learning easier." }}
        {{homepage-feature className="more" header="A whole lot more" message="jackschess.com is built for chess players by a chess player. I am constantly learning, just like you. Enjoy features like easily creating variations, uploading games via PGN, and much more."}}
      </ul>
      <div class="info-container" id="infoContainer">
        <p class="infobox" id="infobox">
          You now have access to every chess coach in the world. By simply sharing a link to your board, you are connected with whoever you want via video chat in your browser.
        </p>
      </div>
    </div>
  </header>
  <div class="create-room-container">
    {{#if showLoading}}
      <a href="/room" {{action 'createRoom'}} class='create-room'><i class="fa fa-spinner fa-pulse"></i> Creating your chess room</a>
    {{else}}
      <a href="/room" {{action 'createRoom'}} class='create-room'>Create your own chess room</a>
      <div class="see-how-it-works">
        <p class='fancy'><span>Not ready yet?</span></p>
        <span>
          {{#link-to 'examples'}}watch a recorded chess lesson{{/link-to}}
          or
          <a href="mailto:jimmymowschess@gmail.com?subject=Help%20finding%20coach%20or%20student">I can help you find a coach/student</a>
        </span>
      </div>
    {{/if}}
  </div>
</div>
<div class="section we">
  <header>
    <h2 class='section-header'>
      <strong>Learning chess</strong>
      <span>should be natural and easy</span>
    </h2>
    <h4>No more tactics trainers, instructional videos, etc. </h4>
    <h4>Learn from real experts and masters who can answer questions, with no limitations, in <strong>three easy</strong> steps.</h4>
  </header>
  <aside>
    <ol>
      <li>
        <figure>1</figure>
        <figcaption>Create your own "chess room"</figcaption>
      </li>
      <li>
        <figure>2</figure>
        <figcaption>Connect with a coach</figcaption>
      </li>
      <li>
        <figure>3</figure>
        <figcaption>Learn chess</figcaption>
      </li>
    </ol>
  </aside>
  {{photo-swipe dataArray=screenshotData}}
  <p class="caption">
    We've combined all the necessary chess tools with the power and connectivity of the internet
  </p>
  <div class="create-room-container">
    {{#if showLoading}}
      <a href="/room" {{action 'createRoom'}} class='create-room'><i class="fa fa-spinner fa-pulse"></i> Creating your chess room</a>
    {{else}}
      <a href="/room" {{action 'createRoom'}} class='create-room'>Create your own chess room</a>
      <div class="see-how-it-works">
        <p class='fancy'><span>Not ready yet?</span></p>
        <span>
          {{#link-to 'examples'}}watch a recorded chess lesson{{/link-to}}
          or
          <a href="mailto:jimmymowschess@gmail.com?subject=Help%20finding%20coach%20or%20student">I can help you find a coach/student</a>
        </span>
      </div>
    {{/if}}
  </div>
</div>
<div class="section why">
  <header>
    <h2 class='section-header'>
      <strong>Why</strong>
      <span>improve your chess?</span>
    </h2>
    <blockquote>
      Chess develops concentration, critical thinking, abstract reasoning, problem solving, pattern recognition, strategic planning, creativity, analysis, synthesis, and evaluation, to name a few.
      <p>- <a href="http://edutechchess.com/whychess.html" target="_blank">Jim Celone, Yale University</a></p>
    </blockquote>
  </header>
  {{photo-swipe dataArray=whyLearnChessData}}
  <div class="create-room-container">
    {{#if showLoading}}
      <a href="/room" {{action 'createRoom'}} class='create-room'><i class="fa fa-spinner fa-pulse"></i> Creating your chess room</a>
    {{else}}
      <a href="/room" {{action 'createRoom'}} class='create-room'>Create your own chess room</a>
      <div class="see-how-it-works">
        <p class='fancy'><span>Not ready yet?</span></p>
        <span>
          {{#link-to 'examples'}}watch a recorded chess lesson{{/link-to}}
          or
          <a href="mailto:jimmymowschess@gmail.com?subject=Help%20finding%20coach%20or%20student">I can help you find a coach/student</a>
        </span>
      </div>
    {{/if}}
  </div>
</div>
