<div class="signup error">
  <h1>Sign  up</h1>
  <p class='message'></p>
  <form {{action "createUser" on="submit"}} class='signup-form'>
    {{input value=username type="text" class="username" placeholder="User name" autofocus="autofocus" required="required"}}
    {{input value=email type="email" class="email" placeholder="Email" required="required"}}
    {{input value=password type="password" class="password" placeholder="Password" required="required"}}
    <small>Your "room secret" is the password you give to your students to get into your room</small>
    {{input value=roomsecret type="text" class="roomsecret" placeholder="Room secret" required="required"}}
    <input class="submit" type="submit" value="Sign up">
  </form>
</div>
