<div class="eee-container">
<div class="help-button">
  <a href="mailto:jimmymowschess@gmail.com?Subject=Help%20with%20jackschess.com">Help</a>
</div>
<canvas id="world"></canvas>
  {{navbar-object session=session room=isRoom}}
  <div class="content-container">
    <div class='sandbox-mode-header'>
      <div>
        {{#if sandboxMode}}
          <span>Sandbox mode is on, </span><a href="#" class="control-button" {{action 'sandboxModeWithPos'}}>review this position</a><span> or </span><a href="#" class="control-button" {{action 'sandboxMode'}}>review what you had before</a>
        {{else}}
          <span>Review mode is on, </span><a href="#" class="control-button" {{action 'sandboxMode'}}>turn on sandbox mode</a>
        {{/if}}
      </div>
    </div>
    <div class="videochat-outter-container outter-container">
      {{video-chat token=token sessionId=sessionId}}
      <div class="keyboard-shortcuts">
        <p class='title'>{{fa-icon "caret-down"}} Keyboard shortcuts</p>
        <ul>
          <li>Press <strong>shift</strong> + <strong>click</strong> or <strong>right click</strong> to draw arrows and circles on the board</li>
          <li>Use <strong>←</strong>/<strong>→</strong> to move backwards/forwards</li>
          <li>Use <strong>↑</strong>/<strong>↓</strong> to go to start/end</li>
        </ul>
      </div>
    </div>
    <div class="board-outter-container outter-container">
      <div class="board-inner-container">
        {{chess-board position='sendPosition' sandboxPstn='sandboxPosition' strt='start' newNote='sendNote' addP='addPoints' removeP='removePoints' puzzleC='puzzleClicked' board=controller.boardObject game=controller.gameObject actionReceiver=chessBoardComponent data=controller.dataObject sandboxMode=controller.sandboxMode fenData=controller.fenDataObject parentController=controller}}
        <div class='diagram-mode-container'>
          <div class='duke-header'>
            <h2>Duke Blue Devils: 2015 National Champions</h2>
            <audio controls id="audio">
              <source src="/assets/sounds/duke_championship_call_2015.mp3" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </div>
      <div class="other-outter-container outter-container">
        {{#if sandboxMode}}
          <select class="positions">
          <option selected="selected" value="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq -">Select a popular opening</option>
          <optgroup label="Popular openings">
            <option value="rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 1 1">King's Pawn</option>
            <option value="rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2">Open Game</option>
            <option value="rnbqkb1r/pppppppp/5n2/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 2 2">Alekhine's Defence</option>
            <option value="rnbqkb1r/ppp1pppp/3p4/3nP3/3P4/5N2/PPP2PPP/RNBQKB1R b KQkq - 1 4">Alekhine's Defence: Modern Variation</option>
            <option value="rnbqkbnr/pppp1ppp/8/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR b KQkq - 2 2">Bishop's Opening</option>
            <option value="rnbqkbnr/pp1ppppp/2p5/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 1 2">Caro-Kann Defence</option>
            <option value="rnbqkbnr/pp2pppp/2p5/3pP3/3P4/8/PPP2PPP/RNBQKBNR b KQkq - 1 3">Caro-Kann Defence: Advance Variation</option>
            <option value="rn1qkbnr/pp2pppp/2p5/5b2/3PN3/8/PPP2PPP/R1BQKBNR w KQkq - 2 5">Caro-Kann Defence: Classical Variation</option>
            <option value="rnbqkbnr/pp2pppp/2p5/3P4/3P4/8/PPP2PPP/RNBQKBNR b KQkq - 1 3">Caro-Kann Defence: Exchange Variation</option>
            <option value="rnbqkb1r/pp3ppp/4pn2/3p4/2PP4/2N5/PP3PPP/R1BQKBNR w KQkq - 1 6">Caro-Kann Defence: Panov-Botvinnik Attack</option>
            <option value="rnbqkb1r/pp3ppp/4pn2/3p4/2PP4/2N5/PP3PPP/R1BQKBNR w KQkq - 1 6">Caro-Kann Defence: Steinitz Variation</option>
            <option value="rnbqkbnr/pppp1ppp/8/8/3pP3/2P5/PP3PPP/RNBQKBNR b KQkq - 1 3">Danish Gambit</option>
            <option value="r1bqkb1r/pppp1ppp/2n2n2/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R w KQkq - 5 4">Four Knights Game</option>
            <option value="r1bqkb1r/pppp1ppp/2n2n2/4p3/3PP3/2N2N2/PPP2PPP/R1BQKB1R b KQkq d3 1 4">Four Knights Game: Scotch Variation</option>
            <option value="r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/2N2N2/PPPP1PPP/R1BQK2R b KQkq - 0 4">Four Knights Game: Spanish Variation</option>
            <option value="rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 1 2">French Defence</option>
            <option value="rnbqkbnr/ppp2ppp/4p3/3pP3/3P4/8/PPP2PPP/RNBQKBNR b KQkq - 1 3">French Defence: Advance Variation</option>
            <option value="rnbqkb1r/ppp2ppp/4pn2/3p2B1/3PP3/2N5/PPP2PPP/R2QKBNR b KQkq - 1 4">French Defence: Burn Variation</option>
            <option value="rnbqkb1r/ppp2ppp/4pn2/3p4/3PP3/2N5/PPP2PPP/R1BQKBNR w KQkq - 3 4">French Defence: Classical Variation</option>
            <option value="rnbqkbnr/ppp2ppp/4p3/3P4/3P4/8/PPP2PPP/RNBQKBNR b KQkq - 1 3">French Defence: Exchange Variation</option>
            <option value="rnbqkbnr/ppp2ppp/4p3/8/3Pp3/2N5/PPP2PPP/R1BQKBNR w KQkq - 1 4">French Defence: Rubinstein Variation</option>
            <option value="rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPPN1PPP/R1BQKBNR b KQkq - 2 3">French Defence: Tarrasch Variation</option>
            <option value="rnbqk1nr/ppp2ppp/4p3/3p4/1b1PP3/2N5/PPP2PPP/R1BQKBNR w KQkq - 3 4">French Defence: Winawer Variation</option>
            <option value="r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 5 4">Giuoco Piano</option><option value="r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 4 3">Italian Game</option><option value="r1bqk1nr/pppp1ppp/2n5/2b1p3/1PB1P3/5N2/P1PP1PPP/RNBQK2R b KQkq b3 1 4">Italian Game: Evans Gambit</option><option value="r1bqk1nr/ppppbppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 5 4">Italian Game: Hungarian Defence</option><option value="r1bqkb1r/pppp1ppp/2n2n2/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 5 4">Italian Game: Two Knights Defence</option><option value="rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 1 2">King's Gambit</option><option value="rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 1 3">King's Gambit Accepted</option><option value="rnbqkbnr/pppp1ppp/8/8/2B1Pp2/8/PPPP2PP/RNBQK1NR b KQkq - 2 3">King's Gambit Accepted: Bishop's Gambit</option><option value="rnbqkbnr/ppp2ppp/8/3p4/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq d6 1 4">King's Gambit Accepted: Modern Defence</option><option value="rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4">King's Gambit Accepted: Classical Variation</option><option value="rnbqk1nr/pppp1ppp/8/2b1p3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq - 2 3">King's Gambit Declined: Classical Variation</option><option value="rnbqkbnr/ppp2ppp/8/3pp3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq d6 1 3">King's Gambit Declined: Falkbeer Countergambit</option><option value="rnbqkbnr/pppppp1p/6p1/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2">Modern Defence</option><option value="rnbqk1nr/ppppppbp/6p1/8/3PP3/2N5/PPP2PPP/R1BQKBNR b KQkq - 0 3">Modern Defence: Robatsch Defence</option><option value="rnbqkbnr/ppp2ppp/3p4/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 1 3">Philidor Defence</option><option value="rnbqkb1r/ppp1pppp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKBNR w KQkq - 2 3">Pirc Defence</option><option value="rnbqkb1r/ppp1pp1p/3p1np1/8/3PPP2/2N5/PPP3PP/R1BQKBNR b KQkq f3 1 4">Pirc Defence: Austrian Attack</option><option value="rnbqkb1r/ppp1pp1p/3p1np1/8/3PP3/2N2N2/PPP2PPP/R1BQKB1R b KQkq - 2 4">Pirc Defence: Classical Variation</option><option value="rnbqkb1r/pppp1ppp/5n2/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 3 3">Petrov's Defence</option><option value="rnbqkb1r/ppp2ppp/3p4/8/3Pn3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 1 5">Petrov's Defence: Classical Attack</option><option value="rnbqkb1r/pppp1ppp/5n2/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 1 3">Petrov's Defence: Steinitz Attack</option><option value="rnbqkb1r/pppp1ppp/5n2/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R b KQkq - 4 3">Petrov's Defence: Three Knights Game</option><option value="r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 4 3">Ruy Lopez</option><option value="r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 5 4">Ruy Lopez: Berlin Defence</option><option value="r1bqk1nr/pppp1ppp/2n5/1Bb1p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 5 4">Ruy Lopez: Classical Variation</option><option value="r1bqk2r/2ppbppp/p1n2n2/1p2p3/4P3/1B3N2/PPPP1PPP/RNBQR1K1 b kq - 0 7">Ruy Lopez: Closed Variation</option><option value="r1bqkbnr/1ppp1ppp/p1B5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 1 4">Ruy Lopez: Exchange Variation</option><option value="r1bq1rk1/2p1bppp/p1n2n2/1p1pp3/4P3/1BP2N2/PP1P1PPP/RNBQR1K1 w - - 0 9">Ruy Lopez: Marshall Attack</option><option value="r1bqkbnr/pppp2pp/2n5/1B2pp2/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq f6 1 4">Ruy Lopez: Schliemann Defence</option><option value="rnbqkbnr/ppp1pppp/8/3p4/4P3/8/PPPP1PPP/RNBQKBNR w KQkq d6 1 2">Scandinavian Defence</option><option value="rnbqkb1r/ppp1pppp/5n2/3P4/3P4/8/PPP2PPP/RNBQKBNR b KQkq - 0 3">Scandinavian Defence: Modern Variation</option><option value="r1bqkbnr/pppp1ppp/2n5/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 1 3">Scotch Game</option><option value="r1bqk1nr/pppp1ppp/2n5/2b5/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 2 5">Scotch Game: Classical Variation</option><option value="r1bqkb1r/p1pp1ppp/2p2n2/4P3/8/8/PPP2PPP/RNBQKB1R b KQkq - 1 6">Scotch Game: Mieses Variation</option><option value="r1b1kbnr/pppp1ppp/2n5/8/3NP2q/8/PPP2PPP/RNBQKB1R w KQkq - 2 5">Scotch Game: Steinitz Variation</option><option value="rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 1 2">Sicilian Defence</option><option value="r1bqkbnr/pp1ppp1p/2n3p1/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 1 5">Sicilian Defence: Accelerated Dragon</option><option value="rnbqkbnr/pp1ppppp/8/2p5/4P3/2P5/PP1P1PPP/RNBQKBNR b KQkq - 1 2">Sicilian Defence: Alapin Variation</option><option value="rnbqkbnr/pp1ppppp/8/2p5/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 2 2">Sicilian Defence: Closed Variation</option><option value="rnbqkb1r/pp2pp1p/3p1np1/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 1 6">Sicilian Defence: Dragon Variation</option><option value="r1bqkbnr/pp1ppppp/2n5/2p5/4PP2/2N5/PPPP2PP/R1BQKBNR b KQkq f3 1 3">Sicilian Defence: Grand Prix Attack</option><option value="rnbqkbnr/pp1ppp1p/6p1/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 1 2">Sicilian Defence: Hyper-Accelerated Dragon</option><option value="rnbqkbnr/1p1p1ppp/p3p3/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 1 5">Sicilian Defence: Kan Variation</option><option value="rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 1 6">Sicilian Defence: Najdorf Variation</option><option value="r1bqkb1r/pp2pppp/2np1n2/6B1/3NP3/2N5/PPP2PPP/R2QKB1R b KQkq - 5 6">Sicilian Defence: Richter-Rauzer Variation</option><option value="rnbqkb1r/pp3ppp/3ppn2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 1 6">Sicilian Defence: Scheveningen Variation</option><option value="rnbqkbnr/pp1ppppp/8/8/3pP3/2P5/PP3PPP/RNBQKBNR b KQkq - 1 3">Sicilian Defence: Smith-Morra Gambit</option><option value="rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 2 2">Vienna Game</option><option value="rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPPKPPP/RNBQ1BNR b kq - 0 2">Bongcloud Attack</option><option value="rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 1 1">Queen's Pawn</option><option value="rnbqkb1r/p2ppppp/5n2/1ppP4/2P5/8/PP2PPPP/RNBQKBNR w KQkq b6 1 4">Benko Gambit</option><option value="rnbqkb1r/pp1p1ppp/4pn2/2pP4/2P5/8/PP2PPPP/RNBQKBNR w KQkq - 0 4">Benoni Defence: Modern Benoni</option><option value="rnbqkb1r/pp1p1ppp/5n2/2pPp3/2P5/8/PP2PPPP/RNBQKBNR w KQkq - 0 4">Benoni Defence: Czech Benoni</option><option value="rnbqkbnr/ppp1pppp/8/3p4/3PP3/8/PPP2PPP/RNBQKBNR b KQkq e3 1 2">Blackmar-Diemer Gambit</option><option value="rnbqk2r/pppp1ppp/4pn2/8/1bPP4/5N2/PP2PPPP/RNBQKB1R w KQkq - 3 4">Bogo-Indian Defence</option><option value="rnbqkb1r/pppp1ppp/4pn2/8/2PP4/6P1/PP2PP1P/RNBQKBNR b KQkq - 1 3">Catalan Opening</option><option value="rnbqk2r/ppp1bppp/4pn2/3p4/2PP4/5NP1/PP2PPBP/RNBQK2R b KQkq - 4 5">Catalan Opening: Closed Variation</option><option value="rnbqkbnr/ppppp1pp/8/5p2/3P4/8/PPP1PPPP/RNBQKBNR w KQkq f6 1 2">Dutch Defence</option><option value="rnbqk2r/ppppp1bp/5np1/5p2/2PP4/5NP1/PP2PPBP/RNBQK2R b KQkq - 4 5">Dutch Defence: Leningrad Variation</option><option value="rnbqkb1r/ppppp1pp/5n2/6B1/3Pp3/2N5/PPP2PPP/R2QKBNR b KQkq - 4 4">Dutch Defence: Staunton Gambit</option><option value="rnbq1rk1/ppp1b1pp/4pn2/3p1p2/2PP4/5NP1/PP2PPBP/RNBQ1RK1 w - d6 1 7">Dutch Defence: Stonewall Variation</option><option value="rnbqkb1r/ppp1pp1p/5np1/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq d6 1 4">Grünfeld Defence</option><option value="rnbqkb1r/ppp1pp1p/5np1/3p4/2PP1B2/2N5/PP2PPPP/R2QKBNR b KQkq - 2 4">Grünfeld Defence: Brinckmann Attack</option><option value="rnbqkb1r/ppp1pp1p/6p1/3n4/3P4/2N5/PP2PPPP/R1BQKBNR w KQkq - 1 5">Grünfeld Defence: Exchange Variation</option><option value="rnbqkb1r/ppp1pp1p/5np1/3p4/2PP4/1QN5/PP2PPPP/R1B1KBNR b KQkq - 0 4">Grünfeld Defence: Russian Variation</option><option value="rnbqk2r/ppp1ppbp/5np1/3p2B1/2PP4/2N2N2/PP2PPPP/R2QKB1R b KQkq - 0 5">Grünfeld Defence: Taimanov Variation</option><option value="rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 1 3">King's Indian Defence</option><option value="rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 1 5">King's Indian Defence: 4.e4</option><option value="rnbq1rk1/ppp1ppbp/3p1np1/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR b KQ - 4 6">King's Indian Defence: Averbakh Variation</option><option value="rnbqk2r/ppp1ppbp/3p1np1/8/2PP4/2N2NP1/PP2PP1P/R1BQKB1R b KQkq - 1 5">King's Indian Defence: Fianchetto Variation</option><option value="rnbqk2r/ppp1ppbp/3p1np1/8/2PPPP2/2N5/PP4PP/R1BQKBNR b KQkq f3 1 5">King's Indian Defence: Four Pawns Attack</option><option value="rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 4 6">King's Indian Defence: Classical Variation</option><option value="rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2P2/PP4PP/R1BQKBNR b KQkq - 1 5">King's Indian Defence: Sämisch Variation</option><option value="rnbqk1nr/ppp1ppbp/3p2p1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 1 4">Queens's Pawn Game: Modern Defence</option><option value="rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 3 4">Nimzo-Indian Defence</option><option value="rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PPQ1PPPP/R1B1KBNR b KQkq - 4 4">Nimzo-Indian Defence: Classical Variation</option><option value="rnbqk2r/p1pp1ppp/1p2pn2/8/1bPP4/2N1P3/PP3PPP/R1BQKBNR w KQkq - 0 5">Nimzo-Indian Defence: Fischer Variation</option><option value="r1bqk2r/pp3ppp/2nppn2/2p5/2PP4/2PBPN2/P4PPP/R1BQK2R w KQkq - 0 8">Nimzo-Indian Defence: Hübner Variation</option><option value="rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 4">Nimzo-Indian Defence: Kasparov Variation</option><option value="rnbqk2r/pppp1ppp/4pn2/6B1/1bPP4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 4">Nimzo-Indian Defence: Leningrad Variation</option><option value="rnbqk2r/pppp1ppp/4pn2/8/2PP4/P1P5/4PPPP/R1BQKBNR b KQkq - 0 5">Nimzo-Indian Defence: Sämisch Variation</option><option value="rnbqkb1r/ppp1pppp/3p1n2/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 1 3">Old Indian Defence</option><option value="rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 1 2">Queen's Gambit</option><option value="rnbqkbnr/ppp1pppp/8/8/2pP4/8/PP2PPPP/RNBQKBNR w KQkq - 1 3">Queen's Gambit Accepted</option><option value="rnbqkb1r/pp3ppp/2p1pn2/3p4/2PP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 1 5">Queen's Gambit Declined: Semi-Slav Defence</option><option value="rnbqkbnr/pp2pppp/2p5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3">Queen's Gambit Declined: Slav Defence</option><option value="rnbqkb1r/pp3ppp/4pn2/2pp4/2PP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq c6 1 5">Queen's Gambit Declined: Semi-Tarrasch Defence</option><option value="rnbqkbnr/pp3ppp/4p3/2pp4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4">Queen's Gambit Declined: Tarrasch Defence</option><option value="rnbqkbnr/ppp2ppp/8/3pp3/2PP4/8/PP2PPPP/RNBQKBNR w KQkq e6 1 3">Queen's Gambit Declined: Albin Countergambit</option><option value="r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 2 3">Queen's Gambit Declined: Chigorin Defence</option><option value="rnbqkb1r/p1pp1ppp/1p2pn2/8/2PP4/5N2/PP2PPPP/RNBQKB1R w KQkq - 1 4">Queen's Indian Defence</option><option value="rnbqkb1r/ppp1pppp/5n2/3p4/3P1B2/5N2/PPP1PPPP/RN1QKB1R b KQkq - 4 3">London System</option><option value="rnbqkb1r/ppp1pppp/5n2/3p2B1/3P4/5N2/PPP1PPPP/RN1QKB1R b KQkq - 4 3">Torre Attack</option><option value="rnbqkb1r/ppp1pppp/5n2/3p2B1/3P4/2N5/PPP1PPPP/R2QKBNR b KQkq - 4 3">Richter-Veresov Attack</option><option value="rnbqkb1r/pppp1ppp/5n2/4p3/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3">Budapest Defence</option><option value="rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2">Closed Game</option><option value="rnbqkb1r/pppppppp/5n2/6B1/3P4/8/PPP1PPPP/RN1QKBNR b KQkq - 3 2">Trompowsky Attack</option><option value="rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 1 1">Zukertort Opening</option><option value="rnbqkbnr/ppp1pppp/8/3p4/8/5NP1/PPPPPP1P/RNBQKB1R b KQkq - 1 2">King's Indian Attack</option><option value="rnbqkbnr/ppp1pppp/8/3p4/2P5/5N2/PP1PPPPP/RNBQKB1R b KQkq c3 1 2">Réti Opening</option><option value="rnbqkbnr/pppppppp/8/8/2P5/8/PP1PPPPP/RNBQKBNR b KQkq c3 1 1">English Opening</option><option value="rnbqkbnr/pppp1ppp/8/4p3/2P5/8/PP1PPPPP/RNBQKBNR w KQkq e6 1 2">English Opening: Reversed Sicilian</option><option value="rnbqkbnr/pp1ppppp/8/2p5/2P5/8/PP1PPPPP/RNBQKBNR w KQkq c6 1 2">English Opening: Symmetrical Variation</option><option value="r1bqk1nr/ppp2pbp/2np2p1/4p3/2P5/2NP2P1/PP2PPBP/R1BQK1NR w KQkq - 0 6">English Opening: Closed System</option><option value="rnbqkbnr/pppppppp/8/8/8/1P6/P1PPPPPP/RNBQKBNR b KQkq - 1 1">Nimzo-Larsen Attack</option><option value="rnbqkbnr/pppppppp/8/8/8/6P1/PPPPPP1P/RNBQKBNR b KQkq - 1 1">Hungarian Opening</option></optgroup></select>
          <div class="spare-container" id="spares">
            <div class="spare top orientation-white">
              <div class='no-square'>
                <div class=" cg-piece black king" data-color="black" data-role="king"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black queen" data-color="black" data-role="queen"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black rook" data-color="black" data-role="rook"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black bishop" data-color="black" data-role="bishop"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black knight" data-color="black" data-role="knight"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black pawn" data-color="black" data-role="pawn"></div>
              </div>
            </div>
            <div class="spare bottom orientation-white">
              <div class='no-square'>
                <div class=" cg-piece white king" data-color="white" data-role="king"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white queen" data-color="white" data-role="queen"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white rook" data-color="white" data-role="rook"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white bishop" data-color="white" data-role="bishop"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white knight" data-color="white" data-role="knight"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white pawn" data-color="white" data-role="pawn"></div>
              </div>
            </div>
          </div>
          <div id="clrCont">
            <div class="color-to-play">
              <select id="colorToPlay">
                <option value="w">White to play</option>
                <option value="b">Black to play</option>
              </select>
            </div>
          </div>
          <div class="castling-controls">
            <strong>Castling</strong>
            <div>
              <label>White O-O<input type="checkbox" checked value='K' data-attr='whiteKingCastles'></label>
              <label><input type="checkbox" checked value='Q' data-attr='whiteQueenCastles'>White O-O-O</label>
            </div>
            <div>
              <label>Black O-O<input type="checkbox" checked value='k' data-attr='blackKingCastles'></label>
              <label><input type="checkbox" checked value='q' data-attr='blackQueenCastles'>Black O-O-O</label>
            </div>
          </div>
          <div class="game-controls">
            <a href="#" class="control-button" {{action 'startingPos'}}>Starting position</a>
            <a href="#" class="control-button" {{action 'clearBoard'}}>Clear board</a>
            <a href="#" class="control-button" {{action 'flip'}}>Flip board</a>
          </div>
        {{else}}
          <div class="analysis">
            <h3>Stockfish Analysis</h3>
            {{ios-switch updateIfImChecked='updateIosSwitchCheckedStatus' actionReceiver=iosSwitch}}
            <p class='depth-container'>
              <label class='analysis-data-label'>At depth:  </label>
              <span id="depth" class="engine-data"></span>
            </p>
            <hr class='divider'>
            <div class='top-analysis'>
              <p class='analysis-container score-container'>
                <label class='analysis-data-label'>Score:</label>
                <span id="score" class="engine-data"></span>
              </p>
              <p class='analysis-container bestmove-container'>
                <label class='analysis-data-label'>Best move: </label>
                <span id="bestmove" class="engine-data"></span>
              </p>
              <p class='analysis-container variation-container'>
                <label class='analysis-data-label'>Variation: </label>
                <span id="variation" class="engine-data engine-variation"></span>
              </p>
            </div>
          </div>
          {{#if detailsObj}}
            <div class="game-details">
              <h4>
                Game details
                {{#if editingDetails}}
                  <a href="#" class='edit-done board-button small hint--bottom-left' data-hint='Edit the game details' {{action 'editDetails'}}>Done</a>
                {{else}}
                  <a href="#" class='edit-done board-button small hint--bottom-left' data-hint='Edit the game details' {{action 'editDetails'}}>{{fa-icon "cog"}}</a>
                {{/if}}
              </h4>
              {{#if editingDetails}}
                <p>
                  {{fa-icon "circle-thin"}}
                  {{input type="text" class="white" value=detailsObj.White placeholder="White"}}
                  ({{input type="text" class="white-elo elo" value=detailsObj.WhiteElo placeholder="White Elo"}})
                </p>
                <p>
                  {{fa-icon "circle"}}
                  {{input type="text" class="black" value=detailsObj.Black placeholder="Black"}}
                  ({{input type="text" class="black-elo elo" value=detailsObj.BlackElo placeholder="Black Elo"}})
                </p>
                <p class='result'>
                  {{input type="text" class="name" value=detailsObj.Result placeholder="Result"}}
                </p>
              {{else}}
                <p>{{fa-icon "circle-thin"}} {{detailsObj.White}} ({{detailsObj.WhiteElo}})</p>
                <p>{{fa-icon "circle"}} {{detailsObj.Black}} ({{detailsObj.BlackElo}})</p>
                <p class='result'>{{detailsObj.Result}}</p>
              {{/if}}
            </div>
          {{/if}}
          <div class="movelist">
            {{view "pgn" id="pgn"}}
          </div>
          <div class="controls game-controls">
            <a class='control-button' data-direction='first'>{{fa-icon "fast-backward"}}</a>
            <a class='control-button' data-direction='prev'>{{fa-icon "step-backward"}}</a>
            <a class='control-button' data-direction='next'>{{fa-icon "step-forward"}}</a>
            <a class='control-button' data-direction='last'>{{fa-icon "fast-forward"}}</a>
          </div>
          <div class="game-controls">
            <a href="#" class="control-button" {{action 'startOver'}}>Restart game</a>
            <a href="#" class="control-button" {{action 'flip'}}>Flip board</a>
            <a href="#pgnUploadContainer" class="upload-game-trigger control-button" rel="modal:open">Upload PGN</a>
          </div>
        {{/if}}
      </div>
      <form class="uploader modal" id="pgnUploadContainer">
      <a href="#pgnUploadContainer" class="uploader-close" rel="modal:close">{{fa-icon 'times'}}</a>
        <h4>{{fa-icon "cloud-upload"}} Upload a game</h4>
        <p class="explanation">
          Already have the PGN of what you want to analyze? Save time by simply uploading it.
        </p>
        <div class="rules">
          <h5>Formatting rules</h5>
          <ul>
            <li>Castling is with capital O's (O-O) <strong>not</strong> with zeros</li>
            <li>Comments must be within these brackets (colloquially): {}</li>
            <li>Promotions must have an equals sign (c1=Q)</li>
          </ul>
        </div>
        <label>
          <span>Paste your PGN here:</span>
          <textarea autofocus id="pgnUpload" placeholder="
          [Event 'Reykjavik WCh']
          [Site 'Reykjavik WCh']
          [Date '1972.07.23']
          [EventDate '?']
          [Round '6']
          [Result '1-0']
          [White 'Robert James Fischer']
          [Black 'Boris Spassky']
          [ECO 'D59']
          [WhiteElo '?']
          [BlackElo '?']
          [PlyCount '81']

          1. c4 e6 2. Nf3 d5 3. d4 Nf6 4. Nc3 Be7 5. Bg5 O-O 6. e3 h6
          7. Bh4 b6 8. cxd5 Nxd5 9. Bxe7 Qxe7 10. Nxd5 exd5 11. Rc1 Be6
          12. Qa4 c5 13. Qa3 Rc8 14. Bb5 a6 15. dxc5 bxc5 16. O-O Ra7
          17. Be2 Nd7 18. Nd4 Qf8 19. Nxe6 fxe6 20. e4 d4 21. f4 Qe7
          22. e5 Rb8 23. Bc4 Kh8 24. Qh3 Nf8 25. b3 a5 26. f5 exf5
          27. Rxf5 Nh7 28. Rcf1 Qd8 29. Qg3 Re7 30. h4 Rbb7 31. e6 Rbc7
          32. Qe5 Qe8 33. a4 Qd8 34. R1f2 Qe8 35. R2f3 Qd8 36. Bd3 Qe8
          37. Qe4 Nf6 38. Rxf6 gxf6 39. Rxf6 Kg8 40. Bc4 Kh8 41. Qf4 1-0">
          </textarea>
        </label>
        <button {{action 'submitPgn'}} class='board-button submit'>{{fa-icon 'hand-o-right'}} Upload this game</button>
      </form>

      <form id="noteForm" class='modal note-form'>
        <h4></h4>
        <textarea autofocus></textarea>
        <input id="notePath" type="hidden">
        <button {{action 'submitNote'}} class='board-button submit'>Add comment</button>
      </form>
    </div>
  </div>
</div>
