<div class="eee-container">
<canvas id="world"></canvas>
  {{navbar-object session=session room=isRoom}}
  <div class="content-container">
    <div class='sandbox-mode-header'>
      <div>
        {{#if sandboxMode}}
          <span>Sandbox mode is on, </span><a href="#" class="control-button" {{action 'sandboxModeWithPos'}}>review this position</a><span> or </span><a href="#" class="control-button" {{action 'sandboxMode'}}>review what you had before</a>
        {{else}}
          <span>Review mode is on, </span><a href="#" class="control-button" {{action 'sandboxMode'}}>turn on sandbox mode</a>
        {{/if}}
      </div>
    </div>
    <div class="videochat-outter-container outter-container">
      {{video-chat token=token sessionId=sessionId}}
      <div class="fake-video"></div>
      <div class="fake-video"></div>
      <div class="fake-video"></div>
      <div class="fake-video"></div>
      <div class="keyboard-shortcuts">
        <p class='title'>{{fa-icon "caret-down"}} Keyboard shortcuts</p>
        <ul>
          <li>Press <strong>shift</strong> + <strong>click</strong> or <strong>right click</strong> to draw arrows and circles on the board</li>
          <li>Use <strong>←</strong>/<strong>→</strong> to move backwards/forwards</li>
          <li>Use <strong>↑</strong>/<strong>↓</strong> to go to start/end</li>
        </ul>
      </div>
    </div>
    <!-- {{outlet}} -->
    <div class="board-outter-container outter-container">
      <div class="board-inner-container">
        {{chess-board position='sendPosition' sandboxPstn='sandboxPosition' strt='start' newNote='sendNote' addP='addPoints' removeP='removePoints' puzzleC='puzzleClicked' board=controller.boardObject game=controller.gameObject actionReceiver=chessBoardComponent data=controller.dataObject sandboxMode=controller.sandboxMode fenData=controller.fenDataObject parentController=controller}}
        <div class='diagram-mode-container'>
          <div class='duke-header'>
            <h2>Duke Blue Devils: 2015 National Champions</h2>
            <audio controls id="audio">
              <source src="/assets/sounds/duke_championship_call_2015.mp3" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </div>
      <div class="other-outter-container outter-container">
        {{#if sandboxMode}}
          <div class="spare-container" id="spares">
            <div class="spare top orientation-white">
              <div class='no-square'>
                <div class=" cg-piece black king" data-color="black" data-role="king"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black queen" data-color="black" data-role="queen"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black rook" data-color="black" data-role="rook"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black bishop" data-color="black" data-role="bishop"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black knight" data-color="black" data-role="knight"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece black pawn" data-color="black" data-role="pawn"></div>
              </div>
            </div>
            <div class="spare bottom orientation-white">
              <div class='no-square'>
                <div class=" cg-piece white king" data-color="white" data-role="king"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white queen" data-color="white" data-role="queen"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white rook" data-color="white" data-role="rook"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white bishop" data-color="white" data-role="bishop"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white knight" data-color="white" data-role="knight"></div>
              </div>
              <div class='no-square'>
                <div class=" cg-piece white pawn" data-color="white" data-role="pawn"></div>
              </div>
            </div>
          </div>
          <div id="clrCont">
            <div class="color-to-play">
              <select id="colorToPlay">
                <option value="w">White to play</option>
                <option value="b">Black to play</option>
              </select>
            </div>
          </div>
          <div class="castling-controls">
            <strong>Castling</strong>
            <div>
              <label>White O-O<input type="checkbox" checked value='K' data-attr='whiteKingCastles'></label>
              <label><input type="checkbox" checked value='Q' data-attr='whiteQueenCastles'>White O-O-O</label>
            </div>
            <div>
              <label>Black O-O<input type="checkbox" checked value='k' data-attr='blackKingCastles'></label>
              <label><input type="checkbox" checked value='q' data-attr='blackQueenCastles'>Black O-O-O</label>
            </div>
          </div>
          <div class="game-controls">
            <a href="#" class="control-button" {{action 'startingPos'}}>Starting position</a>
            <a href="#" class="control-button" {{action 'clearBoard'}}>Clear board</a>
            <a href="#" class="control-button" {{action 'flip'}}>Flip board</a>
          </div>
        {{else}}
          <div class="analysis">
            <h3>Stockfish Analysis</h3>
            {{ios-switch updateIfImChecked='updateIosSwitchCheckedStatus' actionReceiver=iosSwitch}}
            <p class='depth-container'>
              <label class='analysis-data-label'>At depth:  </label>
              <span id="depth" class="engine-data"></span>
            </p>
            <hr class='divider'>
            <div class='top-analysis'>
              <p class='analysis-container score-container'>
                <label class='analysis-data-label'>Score:</label>
                <span id="score" class="engine-data"></span>
              </p>
              <p class='analysis-container bestmove-container'>
                <label class='analysis-data-label'>Best move: </label>
                <span id="bestmove" class="engine-data"></span>
              </p>
              <p class='analysis-container variation-container'>
                <label class='analysis-data-label'>Variation: </label>
                <span id="variation" class="engine-data engine-variation"></span>
              </p>
            </div>
          </div>
          {{#if detailsObj}}
            <div class="game-details">
              <h4>
                Game details
                {{#if editingDetails}}
                  <a href="#" class='edit-done board-button small hint--bottom-left' data-hint='Edit the game details' {{action 'editDetails'}}>Done</a>
                {{else}}
                  <a href="#" class='edit-done board-button small hint--bottom-left' data-hint='Edit the game details' {{action 'editDetails'}}>{{fa-icon "cog"}}</a>
                {{/if}}
              </h4>
              {{#if editingDetails}}
                <p>
                  {{fa-icon "circle-thin"}}
                  {{input type="text" class="white" value=detailsObj.White placeholder="White"}}
                  ({{input type="text" class="white-elo elo" value=detailsObj.WhiteElo placeholder="White Elo"}})
                </p>
                <p>
                  {{fa-icon "circle"}}
                  {{input type="text" class="black" value=detailsObj.Black placeholder="Black"}}
                  ({{input type="text" class="black-elo elo" value=detailsObj.BlackElo placeholder="Black Elo"}})
                </p>
                <p class='result'>
                  {{input type="text" class="name" value=detailsObj.Result placeholder="Result"}}
                </p>
              {{else}}
                <p>{{fa-icon "circle-thin"}} {{detailsObj.White}} ({{detailsObj.WhiteElo}})</p>
                <p>{{fa-icon "circle"}} {{detailsObj.Black}} ({{detailsObj.BlackElo}})</p>
                <p class='result'>{{detailsObj.Result}}</p>
              {{/if}}
            </div>
          {{/if}}
          <div class="movelist">
            {{view "pgn" id="pgn"}}
          </div>
          <div class="controls game-controls">
            <a class='control-button' data-direction='first'>{{fa-icon "fast-backward"}}</a>
            <a class='control-button' data-direction='prev'>{{fa-icon "step-backward"}}</a>
            <a class='control-button' data-direction='next'>{{fa-icon "step-forward"}}</a>
            <a class='control-button' data-direction='last'>{{fa-icon "fast-forward"}}</a>
          </div>
          <div class="game-controls">
            <a href="#" class="control-button" {{action 'startOver'}}>Restart game</a>
            <a href="#" class="control-button" {{action 'flip'}}>Flip board</a>
            <a href="#pgnUploadContainer" class="upload-game-trigger control-button" rel="modal:open">Upload PGN</a>
          </div>
        {{/if}}
      </div>
      <form class="uploader modal" id="pgnUploadContainer">
      <a href="#pgnUploadContainer" class="uploader-close" rel="modal:close">{{fa-icon 'times'}}</a>
        <h4>{{fa-icon "cloud-upload"}} Upload a game</h4>
        <p class="explanation">
          Already have the PGN of what you want to analyze? Save time by simply uploading it.
        </p>
        <div class="rules">
          <h5>Formatting rules</h5>
          <ul>
            <li>Castling is with capital O's (O-O) <strong>not</strong> with zeros</li>
            <li>Comments must be within these brackets (colloquially): {}</li>
            <li>Promotions must have an equals sign (c1=Q)</li>
          </ul>
        </div>
        <label>
          <span>Paste your PGN here:</span>
          <textarea autofocus id="pgnUpload" placeholder="
          [Event 'Reykjavik WCh']
          [Site 'Reykjavik WCh']
          [Date '1972.07.23']
          [EventDate '?']
          [Round '6']
          [Result '1-0']
          [White 'Robert James Fischer']
          [Black 'Boris Spassky']
          [ECO 'D59']
          [WhiteElo '?']
          [BlackElo '?']
          [PlyCount '81']

          1. c4 e6 2. Nf3 d5 3. d4 Nf6 4. Nc3 Be7 5. Bg5 O-O 6. e3 h6
          7. Bh4 b6 8. cxd5 Nxd5 9. Bxe7 Qxe7 10. Nxd5 exd5 11. Rc1 Be6
          12. Qa4 c5 13. Qa3 Rc8 14. Bb5 a6 15. dxc5 bxc5 16. O-O Ra7
          17. Be2 Nd7 18. Nd4 Qf8 19. Nxe6 fxe6 20. e4 d4 21. f4 Qe7
          22. e5 Rb8 23. Bc4 Kh8 24. Qh3 Nf8 25. b3 a5 26. f5 exf5
          27. Rxf5 Nh7 28. Rcf1 Qd8 29. Qg3 Re7 30. h4 Rbb7 31. e6 Rbc7
          32. Qe5 Qe8 33. a4 Qd8 34. R1f2 Qe8 35. R2f3 Qd8 36. Bd3 Qe8
          37. Qe4 Nf6 38. Rxf6 gxf6 39. Rxf6 Kg8 40. Bc4 Kh8 41. Qf4 1-0">
          </textarea>
        </label>
        <button {{action 'submitPgn'}} class='board-button submit'>{{fa-icon 'hand-o-right'}} Upload this game</button>
      </form>

      <form id="noteForm" class='modal note-form'>
        <h4></h4>
        <textarea autofocus></textarea>
        <input id="notePath" type="hidden">
        <button {{action 'submitNote'}} class='board-button submit'>Add comment</button>
      </form>
    </div>
  </div>
</div>
