<div class="content-container profile">
  <div class="header">
    <h1>{{id}}</h1>
    <div class="mini-menu">
      {{#link-to 'user.edit' this data-hint="Edit your profile" class="board-button small hint--bottom-left"}}{{fa-icon 'cog'}}{{/link-to}}
    </div>
    <div class="info">
    <p>{{name}}</p>
    <p>{{email}}</p>
    <p>{{rating}}</p>
    <p>{{location}}</p>
    <p>{{about}}</p>
    <div class='room-action'>
      {{#link-to 'userroom' this class="board-button"}}Go to {{id}}'s room{{/link-to}}
      {{#if owner}}
        <p>Your room secret is "{{roomsecret}}"</p>
      {{/if}}
    </div>
  </div>

  {{#if session.isAuthenticated}}
    <p><a href="#" {{action "signOut"}}>Sign out</a></p>
  {{/if}}

  {{outlet}}
</div>
