{{navbar-object session=session}}

<div class="content-container profile">
  <div class="header">
    <h1>{{id}}</h1>
    {{#if owner}}
      <div class="mini-menu">
        {{#link-to 'user.edit' this data-hint="Edit your profile" class="board-button small hint--bottom-left"}}{{fa-icon 'cog'}}{{/link-to}}
      </div>
    {{/if}}
    <div class="info">
      <p><b>Name </b>{{name}}</p>
      <p><b>Email </b>{{email}}</p>
      <p><b>Rating </b>{{rating}}</p>
      <p><b>Location </b>{{location}}</p>
      <p><b>About </b>{{about}}</p>
      <div class='room-action'>
        {{#link-to 'userroom' this class="board-button"}}Go to {{id}}'s room{{/link-to}}
        {{#if owner}}
          <p>Your room secret is "{{roomsecret}}"</p>
        {{/if}}
      </div>
    </div>
  </div>

  {{outlet}}
</div>
