{{#if owner}}
  {{room-menu user=session.user}}
{{/if}}

{{#if owner}}
  <div class="room-menu slider">
    <h1>Your toolbox</h1>
    {{#em-tabs}}
      {{#em-tab-list}}
          {{#em-tab}}Positions{{/em-tab}}
          {{#em-tab}}Games{{/em-tab}}
      {{/em-tab-list}}
      {{#em-tab-panel}}
          <div class="puzzles-container">
            {{#each model.puzzles}}
              {{user-puzzle puzzle=this roomController=controller.roomController}}
            {{/each}}
            <div class="fetch-puzzles-container">
              {{#if isFetchingPuzzles}}
                <p>{{fa-icon "spinner"}} Loading...</p>
              {{else}}
                <a href="#" class='board-button' {{action 'fetchMorePuzzles'}}>Get more puzzles</a>
              {{/if}}
            </div>
          </div>
      {{/em-tab-panel}}
      {{#em-tab-panel}}
        <div class="games-container">
          {{#each model.games}}
            {{user-game game=this roomController=controller.roomController}}
          {{/each}}
          <div class="fetch-puzzles-container">
            {{#if isFetchingGames}}
              <p>{{fa-icon "spinner"}} Loading...</p>
            {{else}}
              <a href="#" class='board-button' {{action 'fetchMoreGames'}}>Get more games</a>
            {{/if}}
          </div>
        </div>
      {{/em-tab-panel}}
    {{/em-tabs}}
  </div>
{{/if}}

{{outlet "room"}}

{{#if sandboxModeOnAndUser}}
  <form {{action "createPuzzle" on="submit"}} class='puzzle-form'>
    {{input value=name type="text" placeholder="Position name" required="required"}}
    <input class="submit" type="submit" value="Save this position">
  </form>
{{/if}}
